<table id="t01">

  <thead>
    <tr>
      <th>Id</th> &nbsp;&nbsp;
      <th>Name</th> &nbsp;&nbsp;
      <th>Age</th> &nbsp;&nbsp;
      <th>CollegeName</th> &nbsp;&nbsp;
      <th>Married</th>
    </tr>
  </thead>

  <tbody *ngFor="let student of students">
    <tr *ngFor="let s of student">
      <td>{{s.id}}</td> &nbsp;&nbsp;
      <td>{{s.name}}</td> &nbsp;&nbsp;
      <td>{{s.age}}</td> &nbsp;&nbsp;
      <td>{{s.collegeName}}</td> &nbsp;&nbsp;
      <td>{{s.married}}</td>
    </tr>
  </tbody>

</table>